@media only screen and (man-width:400px){
.myskills h2{
    color: #6665ee;
    text-align: center;
}
.skills-center{
    display: flex;
    justify-content: center;
}
    
.skills-bar{
    background: rgb(235, 223, 223);
    width: 50vw;
    box-shadow: 5px 5px 10px black;
    border-radius: 25px;
    padding: 30px;
}
.bar{
margin: 20px;
}
.skills-bar p{
    color: rgb(0, 0, 0);

}
.info{
    display: flex;
    justify-content: space-between;
}
.skills-bar .bar .percenntgeline{
    position: relative;
    height: 20px;
    background: #f0f0f0;
}
.bar .percenntgeline span{
height: 100%;
width: 80%;
background: #6665ee;
position: absolute;
border-radius: 10px;
}
.bar .percenntgeline.Photoshop span{
    background: green;
    width: 95%;
}
.bar .percenntgeline.Illustator span{
    background: rgb(2, 168, 2);
    width: 90%;
}
.bar .percenntgeline.html span{
    background: rgb(72, 255, 0);
    width: 86%;
}
.bar .percenntgeline.css span{
    background: greenyellow;
    width: 80%;
}
.bar .percenntgeline.Javascript span{
    background: rgb(187, 255, 0);
    width: 72%;
}






















}