@media only screen and (max-width:390px){

.introlaptop{
    display: none;
}  
.introphone{
    background:rgb(13,12,58);
    /*background: linear-gradient(-48deg, rgb(58, 245, 1) 50%, white 50%);*/

}
.navphone{
    background: white;
}
.navphone ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.profilephone h1{
    text-align: center;
    color: white;
  
}
.profilephone p{
    text-align: center;
    color: white;
}
.profilephone button{
    width: 100vw;
    height: 5vh;
    background: #1ec964;
 
}
.displaypic{
    display: flex;
    justify-content: center;
}

#displaypic{
    height: 20vh;
    border-radius: 50%;

}
/*style about me section*/
.aboutme{
    text-align: center;
}

/*place skills styling  here*/
.myskills h2{
    color: #6665ee;
    text-align: center;
}
.skills-center{
    display: flex;
    justify-content: center;
}
    
.skills-bar{
    background: rgb(235, 223, 223);
    width: 100vw;
    border-radius: 25px;
    padding: 30px;
}
.bar{
margin: 20px;
}
.skills-bar p{
    color: rgb(0, 0, 0);

}
.info{
    display: flex;
    justify-content: space-between;
}
.skills-bar .bar .percenntgeline{
    position: relative;
    height: 8px;
    background: #f0f0f0;
}
.bar .percenntgeline span{
height: 100%;
width: 80%;
background: #6665ee;
position: absolute;
border-radius: 10px;
}
.bar .percenntgeline.Photoshop span{
    background: green;
    width: 95%;
}
.bar .percenntgeline.Illustator span{
    background: rgb(2, 168, 2);
    width: 90%;
}
.bar .percenntgeline.html span{
    background: rgb(72, 255, 0);
    width: 86%;
}
.bar .percenntgeline.css span{
    background: greenyellow;
    width: 80%;
}
.bar .percenntgeline.Javascript span{
    background: rgb(187, 255, 0);
    width: 72%;
}
/*stylying the projects section*/
.projects h2{
  text-align: center;
  padding: 50px;
}
#pic1a{
    width: 100%;
    padding: 0px 0 20px 0;
}
#pic1{
    width: 100%;
    padding: 70px 0 20px 0;
}
.projects button{
    background: green;
    width: 100vw;
    height: 5vh;
    color: white;
    font-size: large;
}
/*styling the contacts section*/
.contacts{
    padding: 50px 0;
    background-color: rgb(13,12,58);
    color: white;
}
.contacts h2{
    text-align: center;
}
.contactlist{
      text-align: center;
}








}